/*
Theme Name: canyoneeringkawasancebutours
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: abm
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

abm is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/* custom styling */
input[type="checkbox"] {
	border:0px;
}

label:hover {
	background-color: #0b9600;
	color:#ffffff;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {

}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {

}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
/* .menu-toggle, */
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	display: none;  /* added */
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/* =========== custom styling =============== */
.site-branding {
	/* background-image:url('images/header/header03.png'); */
}

body {
	background-color:#ffffff; /* #fef8e2; */
}
.contact_label {
	padding:3px 15px;
	color:#ffffff;
	text-align:left;
	margin:20px 0px;
	background-image:url('images/header/contact03.jpg');
	background-repeat:no-repeat;
    background-position: left; 
    border-radius:10px;
    font-size:.7em;
}
.home_contact {
	background-image:url('images/background/contact_big.jpg');
	background-repeat:no-repeat;
    background-position: left; 
    background-attachment: fixed;
	background-color:#ffffff;
	overflow:auto;
	margin: 0px 0;
	padding:20px 0px 20px 0px;
}

/* styling the FRONT PAGE */
.inside_the_front_page {
	height:100%;
	margin:20px 0px;
	border-top: 25px solid #000000;
	border-bottom: 25px solid #000000;
}


/* styling the headers */
#site_address {
	line-height:1.5em;
	font-size:.9em;
	padding:5px 10px;
	background-color: rgba(11,150,0,1);color:#ffffff
}

.site-branding {
	padding:0px;
	margin:0px;
	overflow:auto;

}

.header_items {
	padding:0px;
	margin:0px;

}

#site_description {
	padding:10px;
}
#site_description h3{
	padding:0px;
}

#site_description h6{
	padding:0px;
	margin:0px;
}

#site_logo {
	 text-align:center;
}
.col-sm-4 {
	
}


/* ------------- styling the image slider tour_Gallery ----------------- */

    #swap_images img{
        display:none;
        position:absolute;
        top:0;
        left:0;
        padding:4px;
        margin:2px;
        border-radius: 11px;
        -moz-box-shadow: 3px 3px 4px #444;
        -webkit-box-shadow: 3px 3px 4px #444;
        box-shadow: 3px 3px 4px #444;
      }

    #swap_images img.active{
        display:block;
      }
   
   .image_swap {
        position:relative;
        min-height:280px;
        text-align:auto;
   }


   /* styling standard inputs */



   /* styling the other tours */


   
   /* styling the post title bars */
   .title_bars {
    background-color:#0b9600;
    padding:13px;
    margin:0px;
    color:#ffffff;
    border-radius: 6px;
   }

   .pages_title_bars {
    background-color:#0b9600;
    padding:13px;
    color:#ffffff;
    border-radius: 10px;
    font-size:1.3em;
	}

   .title_parts {
    background-color:#000000;
    padding:13px;
    margin:0px;
    color:#ffffff;
   }

/* styling the post images */
.post_image {

}

/* styling the page posts */
.tour_package {
    text-align: center;
    padding:3px;
 }
.tour_package img {
    border-radius:3px;
}
.tour_package p {
    text-align:center;
    line-height:1;
    min-height:50px;
}
.tour_package:hover{
    background-color: #ffffff;
    border-radius:5px;
    -moz-box-shadow: 2px 2px 3px #bebebe;
    -webkit-box-shadow: 2px 2px 3px #bebebe;
    box-shadow: 2px 2px 3px #bebebe;
    background-color:#000000;
}
.tour_package a{
	text-decoration: none;
	color:#0ebf00;
}

.tour_package a:visited{
	text-decoration: none;
	color:#0ebf00;
}
.dtitle {
    padding:3px;
    text-align:center;
    min-height:50px;
}
.main-container {
    background-color: #f3fbff;
    padding:2px;
}
.tour_group_title {
    font-size:1.2em;
}

.front_group {
    overflow:auto;
}
/* ------------- styling the image slider tour_Gallery ----------------- */
    #swap_images img{
        display:none;
        position:absolute;
        top:0;
        left:0;
        padding:4px;
        margin:2px;
        border-radius: 11px;
        -moz-box-shadow: 3px 3px 4px #444;
        -webkit-box-shadow: 3px 3px 4px #444;
        box-shadow: 3px 3px 4px #444;
      }
    #swap_images img.active{
        display:block;
      }
   .image_swap {
        position:relative;
        min-height:280px;
        text-align:auto;
   }


/* styleing the menu side */
#form_compute {
  padding:2px;
  background-color:#c9ffda; 
  color:#484848;
  font-size:.9em;
}
#form_compute table, #form_compute tr, #form_compute td {
padding:1px;
border:0px;
}
#reserve_14:hover{
  color:#b7ffb1;
}
input {
  padding:0px;
  margin:0px;
}
label {
  font-size: 1.2em;
  padding-left: 15px;
  text-indent: -15px;
  margin:0px;
}
input[type=checkbox] {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -8px;
  *overflow: hidden;
}


/* styling th PAGE headers and items */
.main-car-caption {
position:absolute;
top:10px;
color:white;
padding:15px;
width:100%;
text-align:left;
}
.main_product {
	text-align:center;
}
.main_product img {
	padding:10px;
	border:1px solid #7d7d7d;
}
#main_product_container {
	padding:0px 0px 0px 0px;
	margin:0 0 60px 0;
	background-color: #ffffff;
	overflow:auto;
}
#main_product_container a {
	text-decoration:none;  
}
#main_product_container img:hover {
-moz-box-shadow:    2px 2px 3px 2px #a4a4a4;
-webkit-box-shadow: 2px 2px 3px 2px #a4a4a4;
box-shadow:         2px 2px 3px 2px #a4a4a4;
}
#main_product_container .dtitle {
	/* font-size:1.3em; */
	font-family: helvetica;
	color:#ffea3d; /* #ac5500; */
	background-color:#23282d;
	padding:0px 0px;
}
#main_product_container .dtitle h3 {
	margin:0px 0px;
}
@media screen and (min-width: 767px) {
	.main-car-caption {
		font-size:.8em;
		color:#ffffff;
	}
	.main-car-caption h4 {
		font-size: 1.5em;
		padding:5px;
		border-radius:5px;
		background-color: rgba(0,163,12,.5);
	}
}
@media only screen and (max-width: 450px) {
	.main-car-caption {
		top:5px;
	}
	.main-car-caption p {
	}
	.main-car-caption h4 {
		color:#ffffff;
		font-size: 1.5em;
		color:#fffd52;
		padding:5px;
		border-radius:5px;
		background-color: rgba(0,163,12,.7);
	}
}
.main_product {
	position:relative;
}
.main_product_description {
	/* display:none; */
	border:1px solid #ffffff;
	border-radius:4px;
	text-align:left;
	font-size:.9em;
	color:#646465; /* #005d00; */
	background-color: #fff; /* background-color: #fff7d2; */
	padding:15px;
	position:absolute;
	top:50px;
	left:35px;
	display:none;
-moz-box-shadow:    0px 3px 3px 0px #404040;
-webkit-box-shadow: 0px 3px 3px 0px #404040;
box-shadow:         0px 3px 3px 0px #404040;
}
.carousel-inner img {
   min-height:300px;
}
.kawasan_main {
	background-color: rgba(0,163,12,.7);
	color:#ffffff;
	border-radius: 20px;
	-moz-box-shadow: 3px 3px 4px #444;
    -webkit-box-shadow: 3px 3px 4px #444;
    padding:10px;
    margin:10px;
}
.kawasan_main ul {
	margin:0px;
	padding:0px 10px ;
	font-size:.9em;
}
.kawasan_main li {

}
.kawasan_main img {
		border-radius: 20px;
	    -moz-box-shadow: 3px 3px 4px #444;
        -webkit-box-shadow: 3px 3px 4px #444;
        box-shadow: 3px 3px 4px #444;
        padding:5px;
        background-color: #ffffff;

}
.kawasan_main h4 {
	color:yellow;
	padding:20px 0px;
}
/* styling the buttons for kawasan tours */
.button_kawasan {
	text-decoration: none;
	color:#ffffff;
	background-color: #0c9602;
	width:100%;

}
.button_kawasan:visited {
	color:#ffffff;
}
.button_kawasan:hover {
		color:#f7ff7c;
		-moz-box-shadow: 3px 3px 4px #444;
        -webkit-box-shadow: 3px 3px 4px #444;
        box-shadow: 3px 3px 4px #444;
}
.buttons_for_kawasan {
 margin:10px;
}

/* styling the easy booking form */
#form_easybooking {
  background-color:#0b9600; 
  color:#ffffff;
  font-size:.9em;
}

#form_easybooking table, #form_easybooking tr, #form_easybooking td  {
 border: 0px;
 padding:2px;
}
#easy_book_submit {
	color:#ffffff;
    border-radius: 5px;
    width: 100%;
    height:60px;
    font-family: Tahoma;
    background: #0b9600;4cf9ff
    font-size:1.3em;
}
#easy_book_submit:hover {
	background-color: #fcff00;
  	color:#0b9600;
}

/* styling the original footer section */
.site-footer {
	text-align: center;
	color: #ffffff;
	background-color:#222222;
}

.site-info {
	margin: 60px 0 10px 0;
}

.site-info a {
	color: #ffffff;
}
.site-info a:link {
	color: #ffffff;
}
.site-info a:visited {
	color: #ffffff;
}
.site-info a:hover {
	color: yellow;
	text-decoration: none;
}
.site-info a:active {
	color: #ffffff;
}

/* styling the package captions for SEO */
.package_caption {
 border:1px solid green; 
 border-radius: 10px;
 overflow:auto;
 padding:10px;
}
.package_caption h3 {
  text-align:center;
  padding:3px;
  margin:0px;
}
.package_caption p {
  font-style:italic;
}

/* styling the destinations */
.destinations {
  color:#0b9600;
  font-size:1.2em;
  background-color:#f7ff7c;
  border-radius:5px;
  padding:5px;
  margin:10px;
}